body {
  margin: 0;
  background: rgb(230,240,252);
  background: linear-gradient(351deg, rgba(230,240,252,1) 0%, rgba(189,229,209,1) 35%, rgba(0,212,255,1) 100%);
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}
